body {

  margin: 0 auto;
  text-align: center;

}

h1,
h2,
h3 {

  font-weight: normal;
  line-height: 1.2;

}

main {

  margin: 0 auto;
  padding: 0;

}

section {

  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: #fff;

}

/* HEADER */

header {

  display: inline-block;
  width: 100vw;

}

header nav {

  float: right;

}

header nav ul {

  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

}

header nav li {

  float: left;

}

/* RECALLS */

section.recalls {

  display: inline-block;
  width: 100%;
  outline: 1px solid red;

}

.recalls .cards {

  display: inline-block;

}

.recalls article {

  display: inline-block;
  float: left;

}

/* FOOTER */

footer {

  display: inline-block;
  width: 100vw;

}

/* MEDIA FOR LITTLE MOBILE DISPLAY */

@media only screen and (max-width: 480px) and (min-width: 320px) {

  body { background: green; }

}

/* MEDIA FOR MEDIUM MOBILE DISPLAY */

@media only screen and (max-width: 768px) and (min-width: 480px) {

  body { background: blue; }

}

/* MEDIA FOR TABLET DISPLAY */

@media only screen and (max-width: 992px) and (min-width: 768px) {

  body { background: yellow; }

}

/* MEDIA FOR NOTEBOOK DISPLAY */

@media only screen and (max-width: 1200px) and (min-width: 992px) {

  body { background: gray; }

}
