body {

  margin: 0 auto;
  text-align: center;

}

h1,
h2,
h3 {

  font-weight: normal;
  line-height: 1.5;
  margin: 0;

}

main {

  margin: 0 auto;
  padding: 0;

}

section {

  display: block;
  margin: 0;
  padding: 0;
  background: #fff;

}

/* HEADER */

header {

  display: inline-block;
  width: 100%;
  background: #ccc;

}

header nav {

  float: right;

}

header nav ul {

  display: inline-block;
  list-style: none;
  margin: 0;

}

header nav li {

  float: left;
  margin-left: 10px;

}

/* EXAMPLE */

section.example {

  display: inline-block;
  width: 100%;
  outline: 1px solid #ccc;

}

.example .cards {

  display: inline-block;

}

.example article {

  display: inline-block;
  float: left;

}

/* FOOTER */

footer {

  display: block;
  width: 100%;

}

/* MEDIA FOR NOTEBOOK DISPLAY */

@media only screen and (max-width: 1200px) and (min-width: 320px) {

  body { background: #ffc168; }

}

/* MEDIA FOR TABLET DISPLAY */

@media only screen and (max-width: 992px) and (min-width: 320px) {

  body { background: #fd5c63; }

}

/* MEDIA FOR MEDIUM MOBILE DISPLAY */

@media only screen and (max-width: 768px) and (min-width: 320px) {

  body { background: #fbb034; }

}

/* MEDIA FOR LITTLE MOBILE DISPLAY */

@media only screen and (max-width: 480px) and (min-width: 320px) {

  body { background: #ffdd00; }

}
