/*
 ***********************
 *    IMPORT FONTS     *
 ***********************
*/

@import url('../fonts/Roboto.css?family=Roboto');

/*
 ***********************
 * RESET AND NORMALIZE *
 ***********************
*/

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address,
big, code, del, dfn, em, img, q, s, samp, small, strong, sub, sup, tt, var, b, u, i, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
main, nav, output, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  margin: 0;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-align: center;
	line-height: 1.15;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

figure {
  margin: 1em 40px;
}

img {
  border-style: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none !important;
}

[clear] {
  clear: both;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* Box Model */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* A better looking default horizontal rule */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 *****************
 * CSS VARIABLES *
 *****************
*/

:root {
  --main-bg-color: #fff; /* For using: var(--main-bg-color); */
}

/*
 *******************
 * PAGE MAIN STYLE *
 *******************
*/

section {
  background: #fff;
}

main h1 {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
  display: inline-block;
  width: 100%;
  background: #000;
}

header nav {
  float: right;
}

header nav li {
  float: left;
  margin-left: 10px;
}

/* EXAMPLE SECTION */

section.example {
  width: 100%;
}

.example .cards {
  display: inline-block;
  margin-bottom: -4px;
}

.example article {
  float: left;
}

/* FOOTER */

footer {
  display: block;
  width: 100%;
}

/*
 *******************
 *  MEDIA QUERIES  *
 *******************
*/

/* EXTRA LARGE DISPLAY */

@media only screen and (max-width: 2400px) and (min-width: 1500px) {

}

/* MEDIA FOR NOTEBOOK DISPLAY */

@media only screen and (max-width: 1200px) and (min-width: 300px) {

}

/* MEDIA FOR TABLET DISPLAY */

@media only screen and (max-width: 992px) and (min-width: 300px) {

}

/* MEDIA FOR MEDIUM MOBILE DISPLAY */

@media only screen and (max-width: 768px) and (min-width: 300px) {

}

/* MEDIA FOR LITTLE MOBILE DISPLAY */

@media only screen and (max-width: 480px) and (min-width: 300px) {

}

/*
 *******************
 *  PRINT STYLES  *
 *  DONT TOUCH!!  *
 *******************
*/

@media print {
  *, *:before, *:after, *:first-letter, *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  img {
    max-width: 100% !important;
    page-break-inside: avoid; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; }
}
