/*
 ***********************
 *    IMPORT FONTS     *
 ***********************
*/

@import url('../fonts/Roboto.css?family=Roboto');

/*
 ***********************
 * RESET AND NORMALIZE *
 ***********************
*/

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address,
big, code, del, dfn, em, img, q, s, samp, small, strong, sub, sup, tt, var, b, u, i, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
main, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-align: center;
	line-height: 1.15;
}

h1 {
  font-size: 2em;
  margin: 0.5em 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  border-style: none;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

/* Box Model */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* A better looking default horizontal rule */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 *******************
 * PAGE MAIN STYLE *
 *******************
*/

section {
  background: #fff;
  margin: 0;
}

.clear {
  clear: both;
}

main h1 {
	font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
  display: inline-block;
  width: 100%;
  background: #ccc;
}

header nav {
  float: right;
}

header nav li {
  float: left;
  margin-left: 10px;
}

/* EXAMPLE SECTION */

section.example {
  width: 100%;
}

.example .cards {
  display: inline-block;
  margin-bottom: -4px;
}

.example article {
  float: left;
}

/* FOOTER */

footer {
  display: block;
  width: 100%;
}

/*
 *******************
 *  MEDIA QUERIES  *
 *******************
*/

/* MEDIA FOR NOTEBOOK DISPLAY */

@media only screen and (max-width: 1200px) and (min-width: 300px) {

  body { background: #ffc168; }

}

/* MEDIA FOR TABLET DISPLAY */

@media only screen and (max-width: 992px) and (min-width: 300px) {

  body { background: #fd5c63; }

}

/* MEDIA FOR MEDIUM MOBILE DISPLAY */

@media only screen and (max-width: 768px) and (min-width: 300px) {

  body { background: #fbb034; }

}

/* MEDIA FOR LITTLE MOBILE DISPLAY */

@media only screen and (max-width: 480px) and (min-width: 300px) {

  body { background: #ffdd00; }

}
